
service cloud.firestore {
  match /databases/{database}/documents {
   function isAuthenticated() {
   return request.auth !=null;
   }
   match /posts/{postsID=**} {
   allow read, create: if isAuthenticated();
   }
   match /chat/v1/users/{uid} {
     allow read, create: if isAuthenticated();
   }
  }
}
